*
{font-family: "Times New Roman", courier, helvetica, serif;
color:black;
background-color:white;}
body
{text-align: center justify;
position: center;
width: 50%;
margin: auto;}
h1
{position:center;}
