*
{font-family: "Times New Roman", courier, helvetica, serif}
body
/*{ background: url("Queneau.jpg") fixed no-repeat center; }*/
header
{border: solid black 2px;}
footer p
{color: red;
font-family: courier;}
iframe
{border:none;}
#conteneur
{display:flex;
justify-content: space-around;}
#comparé
{text-align:left;
border: solid black 0px;
width: 33%;
margin:auto;
}
#commentaire
{text-align:center;
border: solid black 0px;
width: 33%;
margin:auto;
}
#comparant
{text-align:right;
border: solid black 0px;
width: 33%;
margin: auto;}